<p class="card-margin font-body font-medium text-gray-500">Add guests</p>

<div class="relative">
  <input
    type="text"
    class="rounded-lg border-gray-200 ml-4 mt-2 mr-2 w-11/12 h-2/5 bg-gray-100 pr-14 font-body placeholder:text-gray-400/75"
    placeholder="Guest email"
  />
  <button
    nz-button
    class="flex items-center h-5/6 ml-4 mr-4 text-gray-900 bg-white absolute top-2 right-2 pl-2 pr-2 rounded-lg font-medium border-gray-300/75"
  >
    <p class="font-body font-semibold text-sm">Add</p>
  </button>
</div>

<div class="guest-list ml-4 mt-2">
  <div class="relative w-8 h-8">
    <img
      class="rounded-full border border-gray-100 shadow-sm"
      src="https://randomuser.me/api/portraits/women/54.jpg"
      alt="user image"
    />
    <div
      class="absolute top-0 right-0 h-3 w-3 my-1 border-2 border-white rounded-full bg-gray-300 z-2"
    ></div>
  </div>
</div>
