<p class="card-margin font-body font-medium text-gray-500 ">Title</p>

<div class="relative">
  <input
    type="text"
    class="
      rounded-lg
      border-gray-200
      ml-4
      mt-2
      mr-2
      w-11/12
      h-2/5
      bg-gray-100
      pr-14
      font-body
      placeholder:text-gray-400/75
    "
    placeholder="Event title"
  />
  <button
    class="
      h-3/6
      ml-4
      mr-4
      text-gray-900
      bg-white
      absolute
      top-4
      right-8
      pl-2
      pr-2
      rounded-lg
      font-medium
      border-gray-300/75 border
    "
  >
    <span class="material-icons md-18 pr-1 text-gray-400 "> add </span>
    <span class="font-body font-semibold text-sm">Add description</span>
  </button>
</div>
